<h1>welcome to Bookers</h1>
<h4>In Bookers</h4>
<p>you can share and exchange your opinions,inpressions, and<br>
emotions</p>
<p>about various books!</p>
<%= link_to("Log in", "/users/sign_in") %>
<%= link_to("Sign Up", "/users/sign_up") %>